.h1{
    text-align: center;
    font-size: 50px;
}
.game-bored{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    width: 500px;
    margin: auto auto;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.game{
    background-color: white;
    border: 1px solid black;
}